:root {
    --main-header-height: 67px;
    --main-footer-height: 215px;
    --font-color-primary: #151C22;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

main {
    min-height: calc(100vh - var(--main-header-height) - var(--main-footer-height));
}

.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
